.about{
    /* background-color: #d4dcde ; */
    height: 90vh;
    margin-top: -1.3rem;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 43.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .about-heading{
    font-family: Source Code Pro,monospace;
    font-weight: 500;
    line-height: 24px;
    margin: 54px 30px 0px 30px;
  }
  .describe{
    font-family: Source Code Pro,monospace;
    font-size: 14px;

    line-height: 32px;
  }
  .about-title{

        font-size: 25px;
        line-height: 28px;
        margin: 14px 30px;


  }
.women{

    width: 435px;
    height: 380px;
    margin-left: 2rem;

    margin-top: 2rem;

}
  .about-title strong{
    color: cadetblue;
  }
.sec-col{
    margin-top: 5.5rem;
    margin-left: 4rem;
}
.sec-col img{
    height: 100px;
    width: 100px;
}
ol {
  margin: 0;
  gap: 1rem;
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column;
  counter-reset: my-counter;
}
/* li {
  width: 35rem;
  text-align: left;
  color: #4d4b4b;
  border-left: 2px solid #6ba8c2;

  font-family: Source Code Pro,monospace;
  counter-increment: my-counter;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;


  &::before {
    content: counter(my-counter) ". ";
  }
} */

@media (max-width: 820px){
  .about{
    height: 54vh;
  }
  .describe {

    font-size: 12px;
    line-height: 28px;
}
  .sec-col {

    margin-left: 3rem;
}
.women {
  width: 314px;
  height: 380px;

}
.nav-btn-icon {

  width: 28px;
  height: 28px;

}
.nav-btn-icon svg {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
}
}

@media (min-width: 1201px) {
  /* Your styles for large devices go here */
  .women{
    width: 550px;
  }
  .describe {
    font-family: Source Code Pro,monospace;
    font-size: 15px;
    line-height: 35px;
}
}

@media screen and (max-width: 600px) {
  .about .sec-col  {
    width: 90%;
    height: auto;
    margin-left: 0;
  }
  .about .column{
    width: 95%;

  }
  .about-heading{
    display: none;
  }
  .women {
      height: 380px;
    margin: 1rem;
    height: 250px;
    width: 92%;
}
.describe {
  font-family: Source Code Pro,monospace;
  font-size: 12px;
  line-height: 25px;
}

}