
.slider{
    height: 210px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;


}
.title-skills{
    color: black;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    text-align: center;
}
.slide-track{
    display: flex;
    width: calc(220px*16);
    animation: scroll 40s linear infinite;

}
@keyframes scroll{
    0%{
        transform: translateX(0)
    }

    100%{
        transform: translateX(calc(-220px*8));
        /* transform: translateX(-100%); */
    }
}


.slide{
    height: 220px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    /* flex-shrink: 0; */
}

.skills img{
    width: 100%;
    background: transparent;
    transition: transform 1s;
}
.skills img:hover{
    transform: translateZ(20px);
}

/* shadow */
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0)100%);
    content: '';
    position: absolute;
    height: 100%;
    width: 15%;;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;

}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(100deg);

}

